<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="box">
  <div class="center">
    <%= form.label :patient, style: "display: block" %>
    <%= form.text_field :patient %>
  </div>

  <div>
    <%= form.label :case, style: "display: block" %>
    <%= form.text_area :case %>
  </div>

  <div>
    <%= form.label :gender, style: "display: block" %>
    <%= form.text_area :gender %>
  </div>

  <div>
    <%= form.submit "Submit" %>
  </div>
<% end %>
</div>
